/* region Base */

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h3 {
    color: #2E2F42;

}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


/* region */

.section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

/* header */


.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
}

.accent {
    color: #2e2f42;
}

.nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.menu-link:active {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: underline;
}

.adress-list {
    display: flex;
    gap: 40px;
}


.address-item-link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

.address-item-link:hover,
.address-item-link:focus {
    color: #404bbf;
}

/* main */
/* hero */

.hero {
    background-color: #2e2f42;
    width: 100%;
    padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;       
  align-items: center;           
  justify-content: center;                  
  text-align: center;            
}

.hero-titel {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    font-size: 16px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* info */

.info {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.info-tittel {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.info-list-item {
    width: calc((100% - 72px) / 4);
}

.info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* contacts */

.contacts {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.contacts-tittle {
    text-transform: capitalize;
    margin-bottom: 72px;
}

.contacts-list {
    display: flex;
    gap: 24px;
}

.contacts-list-item {
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: calc((100% - 24px * 3) / 4);
}

.contact-name-container {
    padding: 32px 0
}

.contacts-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.contacts-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-herotittel {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
}

.portfolio-carts {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    padding-left: 16px;
    padding-top: 32px;
}

.portfolio-tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */

.footer {
    background: #2e2f42;
    padding: 100px 0;
}

.footer-link {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-bottom: 16px;
    
}

.accent-footer {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}